<template>
  <div>
    Dazu müssen wir den Sales befähigen: Die wenigsten Manager sind heute in der Lage beim Kunden das Thema Machine Learning zu adressieren. Ich denke, weil sie zu wenig davon verstehen. Und CGI in Stuttgart in diesem Thema nicht wahrgenommen wird. Wir brauchen Treiber!
  </div>
</template>
