<template>
  <div>
    <h1>portfolio</h1>

    Ausarbeiten CGI Portfolio: Was sind unsere Offers? Wie wollen wir uns
    positionieren? Ich denke hier können wir z.B. der Brückenbauer sein, der aus
    dem Research-Bereich Ideen für umsetzbare Prototypen herleitet und
    evaluiert. Der Projekte beim Kunden professionell unterstützt und begleitet.
    Und dann die Operations dafür übernimmt. Dafür benötigen wir aus meiner
    Sicht mehrere Skill-Gruppen und ein Vorgehensmodell:
    <ul>
      <li>
        Brückenbauer der die Researcher versteht – der Paper lesen und verstehen
        kann. Mit mathematischem Hintergrund. Er identifiziert pre-trained Netze
        oder Netz-Topologien für Problemstellungen des Kunden
      </li>
      <li>
        Software Entwickler: ML Engineer – dieser kann R oder Python
        programmieren
      </li>
      <li>
        Consultant: Er spricht die Sprache der Fachabteilung, identifiziert das
        Business-problem und vermittelt es dem Brückenbauer, sowie dem Software
        Entwickler
      </li>
      <li>
        Data and Quality Engineer: sogt für nachhaltige Datenqualität: in Train,
        Dev, Test und Produktion.
      </li>
    </ul>
  </div>
</template>
