<template>
  <b-container>
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group
        id="input-group-name"
        label="Your Name:"
        label-for="input-name"
      >
        <b-form-input
          id="input-name"
          v-model="form.name"
          required
          placeholder="Enter your name"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Email address:" label-for="input-email">
        <b-form-input
          id="input-email"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter your email"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Request alpha version</b-button>
    </b-form>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        name: '',
      },
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()

      alert(JSON.stringify(this.form))
    },
    onReset(event) {
      event.preventDefault()

      this.form.email = ''
      this.form.name = ''
    },
  },
}
</script>
