<template>
  <div>
Vernetzung der Kollegen in der BU Central &amp; South.
Es gibt ein Team in München, das aktuell am RV mit BMW arbeitet.
Es gibt die neuen Kollegen, die Mike Kaufmann mitgebracht hat: Thomas Tomow, Ali Reza, ..
Es gibt unsere bisherigen Initiativen in Stuttgart: Hier haben in fast in jedem Cluster 1-2 Member, die sich mit dem Thema auseinandersetzen. Mit unterschiedlichem Hintergrund
             Es gibt unsere Kollegen in Sulzbach, die bei der Bahn etwas machen (?)
             Frage: welche Netzwerke innerhalb CGI kennst Du und in welche bist Du involviert?
  </div>
</template>
