<template>
  <b-container>

  </b-container>
</template>

<style scoped>
.container {
  padding: 2.3rem;
}

.card.bg-primary {
  background: rgb(0, 66, 134);
  background: linear-gradient(
    0deg,
    rgba(0, 66, 134, 1) 0%,
    rgba(21, 104, 198, 1) 100%
  );
}

.card.bg-secondary {
  background: rgb(92, 92, 92);
  background: linear-gradient(
    0deg,
    rgba(92, 92, 92, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
}

.card-body {
  padding: 2rem;
  font-size: 1.2rem;
}
</style>
