<template>
  <b-container>
    <h1>Pattern</h1>
    <div
      v-for="pattern in patterns"
      v-bind:key="pattern.title"
      class="pattern-section"
    >
      <div v-if="pattern.children.length > 0">
        <h2>{{ pattern.title }}</h2>

        <b-card-group columns>
          <b-card
            no-body
            v-for="child in pattern.children"
            v-bind:key="child.title"
          >
            <router-link :to="`/catalogs/patterns/${pattern.id}/${child.id}`">
              <b-card-img :src="child.image" />
            </router-link>
            <b-card-body>
              <b-link :to="`/catalogs/patterns/${pattern.id}/${child.id}`">
                <h4>{{ child.title }}</h4>
                <p class="card-text" v-html="`${child.description.slice(0, 200)}...`"></p>
              </b-link>
            </b-card-body>
            <template v-slot:footer>
              <b-badge pill :variant="child.status.variant">{{
                child.status.label
              }}</b-badge>
            </template>
          </b-card>
        </b-card-group>
      </div>
    </div>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      patterns: require('./patterns.json'),
    }
  },
}
</script>

<style scoped>
.pattern-section {
  margin-bottom: 20px;
}

h2 {
  padding: 25px 0 15px;
}
</style>
