<template>
  <b-container>
    <div class="section">
      <h1>
        <!--<small>{{ task.type.title }} / </small>-->
        <b>{{ task.title }}</b>
      </h1>
      <br />
      <div>
        <b-img thumbnail fluid :src="task.image" width="400px" height="50px"></b-img>
        <p  style="font-size: 25px" v-html="task.description"  height="400px"></p>
      </div>
    </div>



    <div class="section">
     <!-- <br /><br />
      <br /><br />
      <br /><br /> 


        <br /><br />
          <br /><br />
            <br /><br /> -->
            <br /><br />
            <br /><br />
      <h2>
        Try <b>{{ task.title }}</b>
      </h2>
      <br />
      <b-form @submit="predict">
        <b-form-group
          v-for="inputFeature in inputFeatures"
          v-bind:key="inputFeature.name"
          :label="inputFeature.name"
          :description="inputFeature.description"
        >
          <b-form-group v-if="inputFeature.type == 'binary'">
            <b-form-checkbox
              v-model="data[inputFeature.name]"
              size="lg"
            ></b-form-checkbox>
          </b-form-group>

          <b-form-group v-else-if="inputFeature.type == 'file'">
            <b-form-file
              placeholder="Choose a file or drop it here..."
              drop-placeholder="Drop file here..."
              @change="event => onFileChange(inputFeature.name, event)"
              style="width: 500px"
              size="lg"
              
            ></b-form-file>
   <!--    <br /><br />   -->
            <div v-if="dataUrls[inputFeature.name]">
              <h4>Preview</h4>
              <img :src="dataUrls[inputFeature.name]" width="500" />
            </div>
          </b-form-group>

          <b-form-group v-else-if="inputFeature.type == 'textarea'">
            <b-form-textarea
              v-model="data[inputFeature.name]"
              placeholder="Enter something..."
              rows="3"
              max-rows="20"
              maxlength="1500"
              size="lg"
            ></b-form-textarea>
            maximum: 1500 letters
          </b-form-group>

          <b-form-group
            v-else-if="
              inputFeature.type == 'category' && 'values' in inputFeature
            "
          >
            <b-form-select
              required
              v-model="data[inputFeature.name]"
              :options="inputFeature.values"
              size="lg"
            ></b-form-select>
          </b-form-group>

          <b-form-group v-else>
            <b-form-input
              required
              v-model="data[inputFeature.name]"
              
              :placeholder="inputFeature.description"
              size="lg"
              style="width: 500px"
              
              
              

            ></b-form-input>
          </b-form-group>
        </b-form-group>

        <b-button
          type="submit"
          variant="primary"
          size="lg"
          style="width: 500px"
          :disabled="isLoading"
          >Predict</b-button
        >
      </b-form>
      <br /><br />
      <div v-if="showResponse">
        <h2>
          Results of <b>{{ task.title }} :</b>
        </h2>
        <b-form-group
          v-for="outputFeature in outputFeatures"
      
          :description="outputFeature.description"
          v-bind:key="outputFeature.name"
        >
          <img
            :src="responseData[outputFeature.name]"
            v-if="outputFeature.type == 'image'"
          />
          <div style="font-size: 25px" v-else>{{ responseData[outputFeature.name] }}</div>
        </b-form-group>
      </div>
      <div id="response">
        <div v-html="response"></div>
      </div>
      <img id="image" />
    </div>

    <div class="section" v-if="task.video">
      <h2>
        What is <b>{{ task.title }}</b
        >?
      </h2>
      <br />
      <iframe
        width="100%"
        height="500"
        :src="task.video.src"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>


    <div class="section">
      <h2 v-b-toggle.section-usecases class="clickable">
        How is <b>{{ task.title }}</b> used in departments?
      </h2>
      <b-collapse id="section-usecases">
        <br />
        <div v-if="useCases.length > 0">
          <b-card-group columns>
            <b-card
              no-body
              v-for="useCase in useCases"
              v-bind:key="useCase.title"
            >
              <router-link
                :to="`/catalogs/use-cases/${useCase.sector.id}/${useCase.id}`"
              >
                <b-card-img :src="useCase.image" />
              </router-link>
              <b-card-body>
                <b-link
                  :to="`/catalogs/use-cases/${useCase.sector.id}/${useCase.id}`"
                >
                  <h4>{{ useCase.title }}</h4>
                  <p class="card-text">{{ useCase.description }}</p>
                </b-link>
              </b-card-body>
            </b-card>
          </b-card-group>
        </div>
      </b-collapse>
    </div>






    <div class="section">
      <h2 v-b-toggle.section-products class="clickable">
        In which products and solutions is <b>{{ task.title }}</b> used?
      </h2>
      <b-collapse id="section-products">
        <br />
        <div v-if="products.length > 0">
          <b-card-group columns>
            <b-card
              no-body
              v-for="product in products"
              v-bind:key="product.title"
            >
              <router-link
                :to="`/catalogs/products/${product.sector.id}/${product.id}`"
              >
                <b-card-img :src="product.image" />
              </router-link>
              <b-card-body>
                <b-link
                  :to="`/catalogs/products/${product.sector.id}/${product.id}`"
                >
                  <h4>{{ product.title }}</h4>
                  <p class="card-text">{{ product.description }}</p>
                </b-link>
              </b-card-body>
            </b-card>
          </b-card-group>
        </div>
      </b-collapse>
    </div>

    <div class="section">
      <h2 v-b-toggle.section-api class="clickable">
        How to use <b>{{ task.title }}</b> as a service?!
      </h2>
      <b-collapse id="section-api">
        <br />
        <b-tabs content-class="mt-3">
          <b-tab title="Python" active>
            <code>
              import requests<br />
              <br />
              files = {<br />
              &nbsp;&nbsp;'file': open('input.png', 'rb')<br />
              }<br />
              url = '{{ predictUrl }}'<br />
              response = requests.post(url)<br />
            </code>
          </b-tab>
          <b-tab title="Node">
            <code>
              const axios = require('axios')<br />
              const fs = require('fs')<br />
              <br />
              const form_data = new FormData();<br />
              form_data.append('file', fs.createReadStream('input.png'));<br />
              <br />
              const url = '{{ predictUrl }}'<br />
              const response = axios.post(url, form_data, request_config);<br />
            </code>
          </b-tab>
          <b-tab title="CURL">
            <code>
              curl -i -X POST -H "Content-Type: multipart/form-data" -F
              "image=@image.png" {{ predictUrl }}
            </code>
          </b-tab>
        </b-tabs>
      </b-collapse>
    </div>
    <div id="loading-container">
      <div class="loading">Loading&#8230;</div>
    </div>
  </b-container>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      task: {},
      inputFeatures: [],
      outputFeatures: [],
      data: {},
      dataUrls: {},
      useCases: [],
      products: [],
      response: null,
      showResponse: false,
      responseData: {},
      predictUrl: '',
      predictConfig: {},
      isLoading: false,
    }
  },

  mounted() {
    const currentArea = this.$route.params.area
    const currentTask = this.$route.params.task

    this.task = this.findTask(currentArea, currentTask)
    this.useCases = this.findUseCases(currentArea, currentTask)
    this.products = this.findProducts(currentArea, currentTask)

    console.log('useCases ', currentArea, currentTask, this.useCases)

    this.inputFeatures = this.task.input_features
    this.outputFeatures = this.task.output_features

    this.predictUrl = `https://api.5elements.ai/${this.task.id}/api/1.0/predict`

    for (const inputFeature of this.inputFeatures) {
      if ('value' in inputFeature) {
        this.data[inputFeature.name] = inputFeature.value
      }
    }
  },

  methods: {
    findTask(currentArea, currentTask) {
      const areas = require('./patterns.json')

      for (const area of areas) {
        if (area.id === currentArea) {
          for (const task of area.children) {
            if (task.id === currentTask) {
              return {
                ...task,
                type: {
                  id: area.id,
                  title: area.title,
                },
              }
            }
          }
        }
      }
    },

    findUseCases(currentArea, currentTask) {
      const sectors = require('../use-cases/use-cases.json')

      const useCases = []
      for (const sector of sectors) {
        for (const useCase of sector.children) {
          if (
            useCase.pattern.area === currentArea &&
            useCase.pattern.task === currentTask
          ) {
            useCases.push({
              ...useCase,
              sector: {
                id: sector.id,
                title: sector.title,
              },
            })
          }
        }
      }

      return useCases
    },

    findProducts(currentArea, currentTask) {
      const sectors = require('../products/products.json')

      const products = []
      for (const sector of sectors) {
        for (const product of sector.children) {
          for (const pattern of product.patterns) {
            if (pattern.area === currentArea && pattern.task === currentTask) {
              products.push({
                ...product,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              })
            }
          }
        }
      }

      return products
    },

    onFileChange(inputFeatureName, event) {
      const file = event.target.files[0]
      this.dataUrls[inputFeatureName] = URL.createObjectURL(file)

      this.predictConfig = {
        responseType: 'arraybuffer',
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      }
      this.data = new FormData()
      this.data.append(inputFeatureName, file)
    },

    predict(event) {
      event.preventDefault()

      this.isLoading = true
      document.getElementById('loading-container').classList.add('active')

      axios
        .post(this.predictUrl, this.data, this.predictConfig)
        .then(response => {
          if (response.headers['content-type'] === 'image/png') {
            const blob = new Blob([response.data], {
              type: response.headers['content-type'],
            })

            const imageURL = URL.createObjectURL(blob)
            const image = document.getElementById('image')
            image.onload = event => {
              this.isLoading = false
              document.getElementById('loading-container').classList.remove('active')
            }
            image.src = imageURL
          } else {
            for (const outputFeature of this.outputFeatures) {
              this.responseData[outputFeature.name] =
                response.data[outputFeature.name]
            }
            this.showResponse = true
            this.isLoading = false
            document.getElementById('loading-container').classList.remove('active')
          }
        })
        .catch(response => {
          this.response = response
          this.isLoading = false
          document.getElementById('loading-container').classList.remove('active')
        })
    },
  },
}
</script>

<style>
.nav-tabs .nav-link {
  display: block;
  padding: 1rem 2rem;
  font-size: 16px;
}

.tab-content {
  margin-top: 0 !important;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card.overlay {
  height: 200px;
  overflow: hidden;
}

.card.overlay img {
  opacity: 0.5;
}

.card-title,
.card-text {
  color: #000;
}

.card-text {
  font-size: 16px;
  line-height: 28px;
}

.card-img-overlay {
  padding: 2rem;
}

.section {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #0190fe1f;
}

.section:last-child {
  border: 0 none;
}

code {
  font-size: 16px;
  display: block;
  background-color: #fff;
  padding: 25px;
  border: 1px solid transparent;
  border-color: #fff #dee2e6 #dee2e6 #dee2e6;
}

h2.clickable {
  cursor: pointer;
}

p {
  font-size: 16px;
}

.img-thumbnail {
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  box-shadow: -1px 5px 21px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: -1px 5px 21px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -1px 5px 21px 0px rgba(0, 0, 0, 0.36);
}

/* Absolute Center Spinner */
#loading-container {
  background-color: rgba(55, 55, 55, 0.7) !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 999;
}

#loading-container.active {
  display: block;
}

.loading {
  overflow: show;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-top: 300px;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-top: -0.5em;

  border: 15px solid rgba(33, 150, 243, 1);
  border-radius: 100%;
  border-bottom-color: transparent;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
