<template>
  <div>
    PROJ
    <ul>
      <li>https://www.coursera.org/learn/machine-learning-projects/home/welcome</li>
    </ul>
    In Stuttgart möchte ich so eine Art virtuelles Lab haben. Das schnell Prototypen für Fragestellungen des Kunden entwickeln kann.<br>
    Knowhow in den zukunftsweisenden ML Technologien unsupervised learning und reinforcement learning: während es bei (4) eher um die richtige Auswahl geht ist (5) explorativ. Zudem die Verknüpfung schaffen von ML und semantischem Wissen.
  </div>
</template>
