<template>
  <div>
    <div :class="[$style.title, 'login-heading']">
      <h1>
        <strong>5 elements of AI</strong>
      </h1>
    </div>
    <div :class="$style.block">
      <div class="row">
        <div class="col-xl-12">
          <div :class="$style.inner">
            <div :class="$style.form">
              <h4 class="text-uppercase">
                <strong>Please log in</strong>
              </h4>
              <a-form class="login-form" :form="form" @submit="handleSubmit">
                <a-form-item label="Email">
                  <a-input
                    placeholder="Email"
                    v-decorator="[
                      'email',
                      {
                        initialValue: '',
                        rules: [
                          {
                            required: true,
                            message: 'Please input your username!'
                          }
                        ]
                      }
                    ]"
                  >
                    <a-icon
                      slot="prefix"
                      type="user"
                      style="color: rgba(0,0,0,.25);"
                    />
                  </a-input>
                </a-form-item>
                <a-form-item label="Password">
                  <a-input
                    placeholder="Password"
                    type="password"
                    v-decorator="[
                      'password',
                      {
                        initialValue: '',
                        rules: [
                          {
                            required: true,
                            message: 'Please input your Password!'
                          }
                        ]
                      }
                    ]"
                  >
                    <a-icon
                      slot="prefix"
                      type="lock"
                      style="color: rgba(0,0,0,.25);"
                    />
                  </a-input>
                </a-form-item>
                <div>
                  <a-checkbox>Remember me</a-checkbox>
                  <router-link
                    class="pull-right text-primary utils__link--blue utils__link--underlined"
                    to="/user/forgot"
                    >Forgot password?</router-link
                  >
                </div>
                <div class="form-actions">
                  <a-button
                    type="primary"
                    htmlType="submit"
                    class="login-form-button width-150"
                    >Sign in</a-button
                  >
                  <span class="ml-3 register-link">
                    <router-link to="/user/register" class="text-primary utils__link--underlined mr-1">Register</router-link>
                    if you want to request access
                  </span>
                </div>
              </a-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      form: this.$form.createForm(this),
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()

      this.form.validateFields((err, values) => {
        if (!err) {
        

          this.$nprogress.start()
          this.$auth
            .login(values.email, values.password)
            .then(() => {
              this.$nprogress.done()
              this.$notification['success']({
                message: 'Logged In',
                description: 'Welcome to 5 elements of AI!',
              })
            })
            .catch(error => {
              this.$nprogress.done()
              this.$notification['warning']({
                message: error.code,
                description: error.message,
              })
            })
        }
      })
    },
  },
}
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>
