<template>
  <div class="fixed-menu">
    <b-container>
      <div :class="$style.logo">
        <div :class="$style.logoContainer">
          <router-link to="/dashboard">
            <img src="resources/images/logo.png" alt />
          </router-link>
        </div>
      </div>
      <a-menu
        :theme="settings.isLightTheme ? 'light' : 'dark'"
        :mode="'horizontal'"
        :selectedKeys="selectedKeys"
        @click="handleClick"
      >
        <template v-for="item in menuData">
          <item
            v-if="!item.children && !item.divider"
            :menu-info="item"
            :styles="$style"
            :key="item.key"
          />
          <sub-menu
            v-if="item.children"
            :menu-info="item"
            :styles="$style"
            :key="item.key"
          />
        </template>
      </a-menu>
    </b-container>
  </div>
</template>

<script>
import store from 'store'
import _ from 'lodash'
import { getTopMenuData } from '@/services/menu'
import SubMenu from './partials/submenu'
import Item from './partials/item'

export default {
  name: 'menu-top',
  components: {
    SubMenu,
    Item,
  },
  props: {
    settings: Object,
  },
  mounted() {
    this.selectedKeys = store.get('app.menu.selectedKeys') || []
    this.setSelectedKeys()
  },
  data() {
    return {
      menuData: getTopMenuData,
      selectedKeys: [],
      openKeys: [],
    }
  },
  watch: {
    'settings.isMenuCollapsed'() {
      this.openKeys = []
    },
    $route() {
      this.setSelectedKeys()
    },
  },
  methods: {
    handleClick(e) {
      if (e.key === 'settings') {
        this.$store.commit('CHANGE_SETTING', {
          setting: 'isSettingsOpen',
          value: true,
        })
        return
      }
      store.set('app.menu.selectedKeys', [e.key])
      this.selectedKeys = [e.key]
    },
    setSelectedKeys() {
      const pathname = this.$route.path
      const menuData = this.menuData.concat()
      const flattenItems = (items, key) =>
        items.reduce((flattenedItems, item) => {
          flattenedItems.push(item)
          if (Array.isArray(item[key])) {
            return flattenedItems.concat(flattenItems(item[key], key))
          }
          return flattenedItems
        }, [])
      const selectedItem = _.find(flattenItems(menuData, 'children'), [
        'url',
        pathname,
      ])
      this.selectedKeys = selectedItem ? [selectedItem.key] : []
    },
  },
}
</script>

<style lang="scss" module>
@import './style.module.scss';
</style>

<style>
.ant-menu-item a {
  font-size: 16px;
}
</style>
<style scoped>
.fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding: 10px 30px;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #4cb4e7;
  border-bottom: 2px solid #4cb4e7;
}

.ant-menu-horizontal {
  border: 0 none;
}
</style>
