@import '@/assets/styles/mixins.scss';

.logo {
  height: 48px;
  float: left;
}

.logoContainer {
  height: 48px;
  padding: 7px 10px 0 0;
  img {
    height: 52px;
  }
}

.icon {
  margin-top: rem(13);
  margin-right: rem(14);
  float: left;

  @media (max-width: $md-max-width) {
    display: none !important;
  }
}
