<template>
  <b-container>
    <h1>Products &amp; Solutions</h1>
    <div
      v-for="product in products"
      v-bind:key="product.title"
      class="product-section"
    >
      <h2>{{ product.title }}</h2>

      <b-card-group columns>
        <b-card
          no-body
          v-for="child in product.children"
          v-bind:key="child.title"
        >
          <router-link :to="`/catalogs/products/${product.id}/${child.id}`">
            <b-card-img :src="child.image" />
          </router-link>
          <b-card-body>
            <b-link :to="`/catalogs/products/${product.id}/${child.id}`">
              <h4>{{ child.title }}</h4>
              <p class="card-text">{{ child.description }}</p>
            </b-link>
          </b-card-body>
        </b-card>
      </b-card-group>
    </div>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      products: require('./products.json'),
    }
  },
}
</script>

<style scoped>
.product-section {
  margin-bottom: 20px;
}

h2 {
  padding: 25px 0 15px;
}

.card {
  border: none;
  transition: box-shadow 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
</style>
