<template>
  <b-container>
    <div class="section">
      <h1>{{ item.sector.title }} / <b>{{ item.title }}</b></h1>
      <br />
      <div>
        <b-img
          thumbnail
          fluid
          src="https://picsum.photos/400/250/?image=22"
          width="400"
        ></b-img>
        <p v-html="item.description"></p>
      </div>
    </div>

    <!--
    <div class="section">
    <h2>Metadata</h2>
    <ul>
      <li>Contact person: First Lastname</li>
    </ul>
    </div>
    -->

    <div class="section">
      <h2 v-b-toggle.section-usecases class="clickable">
        Which business use cases are used for <b>{{ item.title }}</b
        >?
      </h2>

      <b-collapse id="section-usecases">
        <br />
        <b-card-group columns>
          <b-card
            no-body
            :img-alt="task.title"
            :title="task.title"
            v-for="task of useCases"
            v-bind:key="task.id"
            :img-src="task.image"
          >
            <b-card-body>
              <b-link :to="`/catalogs/use-cases/medicine/${task.id}`">
                <h4>{{ task.title }}</h4>
                <p class="card-text">{{ task.description }}</p>
              </b-link>
            </b-card-body>
          </b-card>
        </b-card-group>
      </b-collapse>
    </div>

    <div class="section">
      <h2 v-b-toggle.section-patterns>
        Which technical use cases are used for <b>{{ item.title }}</b
        >?
      </h2>
      <b-collapse id="section-patterns">
        <b-card-group columns>
          <b-card
            no-body
            :img-alt="pattern.title"
            :title="pattern.title"
            v-for="pattern of patterns"
            v-bind:key="pattern.id"
            :img-src="pattern.image"
          >
            <b-card-body>
              <b-link :to="`/catalogs/patterns/computer-vision/${pattern.id}`">
                <h4>{{ pattern.title }}</h4>
                <p class="card-text">{{ pattern.description }}</p>
              </b-link>
            </b-card-body>
          </b-card>
        </b-card-group>
      </b-collapse>
    </div>
  </b-container>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      url: process.env.VUE_APP_BACKEND_URL,
      errors: [],
      item: {},
      data: {},
      inputFeatures: [],
      predictions: {},
      useCases: [],
      patterns: [],
    }
  },

  mounted() {
    const currentSector = this.$route.params.sector
    const currentProduct = this.$route.params.product

    this.item = this.findProduct(currentSector, currentProduct)
    this.useCases = this.enrichUseCases(this.item.useCases)
    this.patterns = this.enrichPattern(this.item.patterns)
  },

  methods: {
    findProduct(currentSector, currentProduct) {
      const sectors = require('./products.json')

      for (const sector of sectors) {
        if (sector.id === currentSector) {
          for (const product of sector.children) {
            if (product.id === currentProduct) {
              return {
                ...product,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              }
            }
          }
        }
      }
    },

    findUseCase(currentSector, currentUseCase) {
      const sectors = require('../use-cases/use-cases.json')

      for (const sector of sectors) {
        if (sector.id === currentSector) {
          for (const useCase of sector.children) {
            if (useCase.id === currentUseCase) {
              return {
                ...useCase,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              }
            }
          }
        }
      }
      return {}
    },

    findPattern(currentSector, currentPattern) {
      const sectors = require('../patterns/patterns.json')

      for (const sector of sectors) {
        if (sector.id === currentSector) {
          for (const pattern of sector.children) {
            if (pattern.id === currentPattern) {
              return {
                ...pattern,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              }
            }
          }
        }
      }
      return {}
    },

    enrichUseCases(useCases) {
      return useCases.map(useCase =>
        this.findUseCase(useCase.sector, useCase.useCase),
      )
    },

    enrichPattern(patterns) {
      return patterns.map(pattern =>
        this.findPattern(pattern.area, pattern.task),
      )
    },

    predict(event) {
      event.preventDefault()

      const id = this.$route.params.id
      axios
        .post(`${process.env.VUE_APP_BACKEND_URL}/products/${id}/predict`, [
          this.data,
        ])
        .then(response => {
          this.predictions = response.data.predictions
        })
        .catch(event => {
          this.errors.push(event)
        })
    },
  },
}
</script>

<style scoped>
.container {
  padding-top: 40px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card.overlay img {
  opacity: 0.5;
}

.card-title,
.card-text {
  color: #000;
}

.card-text {
  font-size: 16px;
  line-height: 28px;
}

.card-img-overlay {
  padding: 2rem;
}

.section {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #0190fe1f;
}

h2.clickable {
  cursor: pointer;
}

p {
  font-size: 16px;
}

.img-thumbnail {
  float: left;
  margin-right: 40px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  box-shadow: -1px 5px 21px 0px rgba(0,0,0,0.36);
  -webkit-box-shadow: -1px 5px 21px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: -1px 5px 21px 0px rgba(0,0,0,0.36);
}
</style>
