<template>
  <a-dropdown placement="bottomLeft">
    <div :class="$style.dropdown">
      <a-badge>
        <a-avatar
          shape="square"
          icon="user"
          size="large"
          :class="$style.avatar"
        />
      </a-badge>
    </div>
    <a-menu slot="overlay">
      <a-menu-item>
        <div><strong class="mr-1">Billing Plan:</strong> Free</div>
        <div><strong class="mr-1">Role:</strong> User</div>
      </a-menu-item>
      <a-menu-divider />
      <a-menu-item>
        <div><strong class="mr-1">Email:</strong> {{ user.email }}</div>
      </a-menu-item>
      <a-menu-divider />
      <a-menu-item>
        <a href="javascript: void(0);" @click="logout">
          <i :class="$style.menuIcon" class="icmn-exit"></i> Logout
        </a>
      </a-menu-item>
    </a-menu>
  </a-dropdown>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.user.user
    },
  },
  methods: {
    logout() {
      this.$auth.logout()
    },
  },
}
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>
