<template>
  <b-container>
    <h1>Use cases</h1>
    <div
      v-for="usecase in usecases"
      v-bind:key="usecase.title"
      class="usecase-section"
    >
      <h2>{{ usecase.title }}</h2>

      <b-card-group columns>
        <b-card
          no-body
          v-for="child in usecase.children"
          v-bind:key="child.title"
        >
          <router-link :to="`/catalogs/use-cases/${usecase.id}/${child.id}`">
            <b-card-img :src="child.image" />
          </router-link>
          <b-card-body>
            <b-link :to="`/catalogs/use-cases/${usecase.id}/${child.id}`">
              <h4>{{ child.title }}</h4>
              <p class="card-text">{{ child.description }}</p>
            </b-link>
          </b-card-body>
        </b-card>
      </b-card-group>
    </div>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      usecases: require('./use-cases.json'),
    }
  },
}
</script>

<style scoped>
.usecase-section {
  margin-bottom: 20px;
}

h2 {
  padding: 25px 0 15px;
}
</style>
