<template>
  <div class="utils__content">
    <b-tabs content-class="mt-3">
      <b-tab title="Create use case" active>
        <b-form @submit="onSubmit" @reset="onReset">
          <h2>Visibility</h2>
          <b-form-group>
            <b-form-radio v-model="selected" name="some-radios" value="private"
              >Private<br />Project access must be granted
              explicity</b-form-radio
            >
            <b-form-radio v-model="selected" name="some-radios" value="public"
              >Public</b-form-radio
            >
          </b-form-group>

          <h2>Model</h2>
          <b-form-group label="Dataset" label-for="form-dataset">
            <b-form-file
              id="form-dataset"
              multiple
              @change="loadTextFromFile"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            ></b-form-file>
          </b-form-group>
          <b-form-group label="Model definition" label-for="form-model">
            <b-form-textarea
              id="form-model"
              v-model="model"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>

          <b-button type="submit" variant="success">Create use case</b-button>
        </b-form>
      </b-tab>
      <b-tab title="Import use case"> </b-tab>
    </b-tabs>
  </div>
</template>

<script>
export default {
  data() {
    return {
      columns: [],
      data: [],
      selected: true,
      model: '',
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    },

    onReset(evt) {
      evt.preventDefault()
    },
  },
}
</script>
