<template>
  <b-container>
    <div>
      <b-card
        overlay
        img-src="https://picsum.photos/900/250/?image=3"
        :img-alt="item.title"
        :title="item.title"
        class="overlay"
      >
        <b-card-text>
          {{ item.description }}
        </b-card-text>
      </b-card>
    </div>
    <b-form @submit="predict">
      <b-form-group
        v-for="inputFeature in inputFeatures"
        v-bind:key="inputFeature.name"
        :label="inputFeature.name"
        :description="inputFeature.description"
      >
        <b-form-checkbox
          v-model="data[inputFeature.name]"
          v-if="inputFeature.type == 'binary'"
        ></b-form-checkbox>

        <b-form-file
          v-model="data[inputFeature.name]"
          multiple
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
          v-else-if="inputFeature.type == 'file'"
        ></b-form-file>

        <b-form-textarea
          v-model="data[inputFeature.name]"
          placeholder="Enter something..."
          rows="3"
          max-rows="6"
          v-else-if="inputFeature.type == 'textarea'"
        ></b-form-textarea>

        <b-form-select
          required
          v-model="data[inputFeature.name]"
          v-else-if="
            inputFeature.type == 'category' && 'values' in inputFeature
          "
          :options="inputFeature.values"
        ></b-form-select>

        <b-form-input
          required
          v-model="data[inputFeature.name]"
          :placeholder="inputFeature.description"
          v-else
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Predict</b-button>
    </b-form>
  </b-container>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      url: process.env.VUE_APP_BACKEND_URL,
      errors: [],
      item: {},
      data: {},
      inputFeatures: [],
      predictions: {},
    }
  },

  mounted() {
    const currentSector = this.$route.params.sector
    const currentUsecase = this.$route.params.usecase

    this.item = this.findUsecase(currentSector, currentUsecase)

    this.inputFeatures = this.item.input_features
    const columns = this.inputFeatures.map(inputFeature => inputFeature.name)

    console.log('columns ', columns)
  },

  methods: {
    findUsecase(currentSector, currentUsecase) {
      const sectors = require('./use-cases.json')

      for (const sector of sectors) {
        if (sector.id === currentSector) {
          for (const usecase of sector.children) {
            if (usecase.id === currentUsecase) {
              return {
                ...usecase,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              }
            }
          }
        }
      }
    },

    predict(event) {
      event.preventDefault()

      const id = this.$route.params.id
      axios
        .post(`${process.env.VUE_APP_BACKEND_URL}/use-cases/${id}/predict`, [
          this.data,
        ])
        .then(response => {
          this.predictions = response.data.predictions
        })
        .catch(event => {
          this.errors.push(event)
        })
    },
  },
}
</script>

<style scoped>
.container {
  padding-top: 40px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card.overlay img {
  opacity: 0.75;
}

.card-title,
.card-text {
  color: #000;
  text-shadow: 0 0 10px #fff;
}
</style>
