<template>
  <b-container>
    <div class="section">
      <div class="card overlay">
        <img class="card-img" src="https://picsum.photos/900/250/?image=222" />
        <div class="card-img-overlay">
          <h1 class="card-title">{{ item.title }}</h1>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>

    <div class="section">
      <b-form @submit="predict">
        <h2>Predict</h2>
        <b-form-group
          v-for="inputFeature in inputFeatures"
          v-bind:key="inputFeature.name"
          :label="inputFeature.name"
          :description="inputFeature.description"
        >
          <b-form-group v-if="inputFeature.type == 'binary'">
            <b-form-checkbox
              v-model="data[inputFeature.name]"
              size="lg"
            ></b-form-checkbox>
          </b-form-group>

          <b-form-group v-else-if="inputFeature.type == 'file'">
            <b-form-file
              v-model="data[inputFeature.name]"
              placeholder="Choose a file or drop it here..."
              drop-placeholder="Drop file here..."
              @change="event => onFileChange(inputFeature.name, event)"
              size="lg"
            ></b-form-file>
            <br /><br />
            <div v-if="dataUrls[inputFeature.name]">
              <h4>Preview</h4>
              <img :src="dataUrls[inputFeature.name]" width="500" />
            </div>
          </b-form-group>

          <b-form-group v-else-if="inputFeature.type == 'textarea'">
            <b-form-textarea
              v-model="data[inputFeature.name]"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
              size="lg"
            ></b-form-textarea>
          </b-form-group>

          <b-form-group
            v-else-if="
              inputFeature.type == 'category' && 'values' in inputFeature
            "
          >
            <b-form-select
              required
              v-model="data[inputFeature.name]"
              :options="inputFeature.values"
              size="lg"
            ></b-form-select>
          </b-form-group>

          <b-form-group v-else>
            <b-form-input
              required
              v-model="data[inputFeature.name]"
              :placeholder="inputFeature.description"
              size="lg"
            ></b-form-input>
          </b-form-group>
        </b-form-group>

        <b-button type="submit" variant="primary" size="lg">Predict</b-button>
      </b-form>
    </div>
    <div class="section">
      <h2>
        In which products and solutions is <b>{{ item.title }}</b> used?
      </h2>
      <div v-if="products.length > 0">
        <b-card-group columns>
          <b-card
            no-body
            v-for="product in products"
            v-bind:key="product.title"
          >
            <router-link
              :to="`/catalogs/use-cases/${product.sector.id}/${product.id}`"
            >
              <b-card-img :src="product.image" />
            </router-link>
            <b-card-body>
              <b-link
                :to="`/catalogs/use-cases/${product.sector.id}/${product.id}`"
              >
                <h4>{{ product.title }}</h4>
                <p class="card-text">{{ product.description }}</p>
              </b-link>
            </b-card-body>
          </b-card>
        </b-card-group>
      </div>
    </div>

    <div class="section">
      <h2>
        Which technical use cases are used for <b>{{ item.title }}</b
        >?
      </h2>
      <b-card-group columns>
        <b-card
          no-body
          :img-alt="pattern.title"
          :title="pattern.title"
          v-bind:key="pattern.id"
          :img-src="pattern.image"
        >
          <b-card-body>
            <b-link :to="`/catalogs/patterns/computer-vision/${pattern.id}`">
              <h4>{{ pattern.title }}</h4>
              <p class="card-text">{{ pattern.description }}</p>
            </b-link>
          </b-card-body>
        </b-card>
      </b-card-group>
    </div>
  </b-container>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      url: process.env.VUE_APP_BACKEND_URL,
      errors: [],
      item: {},
      data: {},
      dataUrls: {},
      inputFeatures: [],
      predictions: {},
      products: [],
      pattern: {},
    }
  },

  mounted() {
    const currentSector = this.$route.params.sector
    const currentUseCase = this.$route.params.usecase

    this.item = this.findUseCase(currentSector, currentUseCase)
    this.products = this.findProducts(currentSector, currentUseCase)

    const pattern = this.item.pattern
    this.pattern = this.findPattern(pattern.area, pattern.task)

    console.log('item ', this.item)
    console.log('pattern ', this.pattern)

    this.inputFeatures = this.item.input_features
  },

  methods: {
    findUseCase(currentSector, currentUsecase) {
      const sectors = require('./use-cases.json')

      for (const sector of sectors) {
        if (sector.id === currentSector) {
          for (const usecase of sector.children) {
            if (usecase.id === currentUsecase) {
              return {
                ...usecase,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              }
            }
          }
        }
      }
    },

    findProducts(currentSector, currentUseCase) {
      const sectors = require('../products/products.json')

      const products = []
      for (const sector of sectors) {
        for (const product of sector.children) {
          for (const useCase of product.useCases) {
            if (
              useCase.sector === currentSector &&
              useCase.useCase === currentUseCase
            ) {
              products.push({
                ...product,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              })
            }
          }
        }
      }

      return products
    },

    findPattern(currentSector, currentPattern) {
      const sectors = require('../patterns/patterns.json')

      for (const sector of sectors) {
        if (sector.id === currentSector) {
          for (const pattern of sector.children) {
            if (pattern.id === currentPattern) {
              return {
                ...pattern,
                sector: {
                  id: sector.id,
                  title: sector.title,
                },
              }
            }
          }
        }
      }
    },

    onFileChange(inputFeatureName, event) {
      const file = event.target.files[0]
      this.dataUrls[inputFeatureName] = URL.createObjectURL(file)
    },

    predict(event) {
      event.preventDefault()

      const id = this.$route.params.id
      axios
        .post(`${process.env.VUE_APP_BACKEND_URL}/use-cases/${id}/predict`, [
          this.data,
        ])
        .then(response => {
          this.predictions = response.data.predictions
        })
        .catch(event => {
          this.errors.push(event)
        })
    },
  },
}
</script>

<style scoped>
.container {
  padding-top: 40px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card.overlay img {
  opacity: 0.5;
}

.card-title,
.card-text {
  color: #000;
}

.card-text {
  font-size: 16px;
  line-height: 28px;
}

.card-img-overlay {
  padding: 2rem;
}

.section {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #0190fe1f;
}
</style>
